# Sample Credentials File.
# Create a file called "credentials" in the same folder as 
# cloudflareshell.sh and make a function similar to below for each
# CloudFlare account you want to manage. I have named mine pp and jj.
# You'll then be able to reference the accounts by these function names.
# This Git Repo has a .gitignore that keeps the credentials file from
# Being committed. 


function pp () {
cfkey=2bas9ba5d9je483d50ke7cacd497bf6246e6b
email='email@yourdomain.com'
zone='yourdomain.com'
}

function jj () {
cfkey=gbkb648d1afkea39e2d94v87b2605a6bnd87e
email='workemail@yourjobdomain.com'
zone='yourjobdomain.com'
}